@import url('https://fonts.googleapis.com/css?family=BioRhyme|Bungee|Bungee+Shade&display=swap');
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: 'BioRhyme', serif;
    color: #464e52;
    background-color: #838FAB;
}

h1 {
    font-size: 3em;
    color: #464e52;
    font-family: 'Bungee Shade', cursive;
}

h2 {
    font-size: 1.7em;
    color: #464e52;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'BioRhyme', serif;
}

h3 {
    font-size: 1.3em;
    color: #464e52;
    text-align: center;
    font-family: 'BioRhyme', serif; 
}

a {
    text-decoration: none;
    color: #464e52;
}
    
a:hover {
    color: #926075;
}

ul {
    list-style-type: none;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 650px;
    background-color: #838FAB;
}

header {
    text-align: center;
    background-color: #838FAB;
}


footer {
    font-size: 0.7em;
    padding-top: 10px;
    text-align: center;
    background-color: #838FAB;
}

div {
    text-align: center;
    border: 2px solid #464e52;
    margin: 15px;
    padding: 5px;
    
}

#prettydisplay {
    font-family: 'Bungee Shade', cursive;
    font-size: 2em;
}

button {
    margin: 10px;
}

.imagestyles {
    max-width: 75%;
    display: block;
    margin: auto;
    box-shadow: 3px 3px #926075;
}